USE [master]
GO
/****** Object:  Database [SchoolManageDB]    Script Date: 20-02-2026 4.52.57 PM ******/
CREATE DATABASE [SchoolManageDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolManageDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SchoolManageDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolManageDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SchoolManageDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolManageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolManageDB]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentRecords]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Maths] [tinyint] NOT NULL,
	[Physics] [tinyint] NOT NULL,
	[Chemistry] [tinyint] NOT NULL,
	[English] [tinyint] NOT NULL,
	[Programming] [tinyint] NOT NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RollNumber] [char](5) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [CreatedDate]) VALUES (1, N'Invigilator', CAST(N'2026-02-20T12:18:21.6350997' AS DateTime2))
INSERT [dbo].[Roles] ([RoleId], [RoleName], [CreatedDate]) VALUES (2, N'Student', CAST(N'2026-02-20T12:18:21.6350997' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [UserId], [RollNumber], [FullName], [IsActive], [CreatedDate]) VALUES (1, 2, N'10001', N'Ajith Kumar', 1, CAST(N'2026-02-20T12:18:56.6074706' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [RoleId], [IsActive], [CreatedDate]) VALUES (1, N'invigilator', N'invigilator@123', 1, 1, CAST(N'2026-02-20T12:18:33.8035387' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [RoleId], [IsActive], [CreatedDate]) VALUES (2, N'student', N'student@123', 2, 1, CAST(N'2026-02-20T12:18:33.8035387' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160D2F8161B]    Script Date: 20-02-2026 4.52.57 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StudentR__32C52B98210C3AED]    Script Date: 20-02-2026 4.52.57 PM ******/
ALTER TABLE [dbo].[StudentRecords] ADD UNIQUE NONCLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Students__1788CC4D05363BCB]    Script Date: 20-02-2026 4.52.57 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__E9F06F16BBF8145C]    Script Date: 20-02-2026 4.52.57 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[RollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40F9E2127]    Script Date: 20-02-2026 4.52.57 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StudentRecords] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD  CONSTRAINT [FK_StudentRecords_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentRecords] CHECK CONSTRAINT [FK_StudentRecords_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD CHECK  (([Chemistry]>=(1) AND [Chemistry]<=(100)))
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD CHECK  (([English]>=(1) AND [English]<=(100)))
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD CHECK  (([Maths]>=(1) AND [Maths]<=(100)))
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD CHECK  (([Physics]>=(1) AND [Physics]<=(100)))
GO
ALTER TABLE [dbo].[StudentRecords]  WITH CHECK ADD CHECK  (([Programming]>=(1) AND [Programming]<=(100)))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  ((len([FullName])<=(30)))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([RollNumber] like '[0-9][0-9][0-9][0-9][0-9]'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStudent]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddStudent]
(
    @FullName NVARCHAR(30)
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY

        DECLARE @NewRoll INT
        DECLARE @FormattedRoll CHAR(5)
        DECLARE @Username NVARCHAR(50)
        DECLARE @Password NVARCHAR(20)
        DECLARE @UserId INT
        DECLARE @StudentRoleId INT

        -- Get Student RoleId
        SELECT @StudentRoleId = RoleId 
        FROM Roles 
        WHERE RoleName = 'Student'

        -- Generate next roll number
        SELECT @NewRoll = ISNULL(MAX(CAST(RollNumber AS INT)), 9999) + 1
        FROM Students

        IF @NewRoll < 10000
            SET @NewRoll = 10000

        SET @FormattedRoll = RIGHT('00000' + CAST(@NewRoll AS VARCHAR), 5)

        -- Username = STU + RollNumber
        SET @Username = 'STU' + @FormattedRoll

        -- Random password
        SET @Password = LEFT(CONVERT(VARCHAR(40), NEWID()), 8)

        -- Insert into Users
        INSERT INTO Users (Username, PasswordHash, RoleId)
        VALUES (@Username, @Password, @StudentRoleId)

        SET @UserId = SCOPE_IDENTITY()

        -- Insert into Students
        INSERT INTO Students (UserId, RollNumber, FullName)
        VALUES (@UserId, @FormattedRoll, @FullName)

        COMMIT TRANSACTION;

        SELECT 
            @FormattedRoll AS RollNumber,
            @Username AS Username,
            @Password AS Password;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END



GO
/****** Object:  StoredProcedure [dbo].[sp_AddStudentRecord]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddStudentRecord]
(
    @RollNumber CHAR(5),
    @Maths TINYINT,
    @Physics TINYINT,
    @Chemistry TINYINT,
    @English TINYINT,
    @Programming TINYINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StudentId INT;

    SELECT @StudentId = StudentId
    FROM Students
    WHERE RollNumber = @RollNumber
    AND IsActive = 1;

    INSERT INTO StudentRecords
    (StudentId, Maths, Physics, Chemistry, English, Programming)
    VALUES
    (@StudentId, @Maths, @Physics, @Chemistry, @English, @Programming);
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentRecordByUserId]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetStudentRecordByUserId]
    @UserId INT
AS
BEGIN
    SELECT 
        s.FullName,
        s.RollNumber,
        sr.Maths,
        sr.Physics,
        sr.Chemistry,
        sr.English,
        sr.Programming,
        sr.LastUpdated
    FROM Users u
    INNER JOIN Students s ON u.UserId = s.UserId
    INNER JOIN StudentRecords sr ON s.StudentId = sr.StudentId
    WHERE u.UserId = @UserId
    AND u.IsActive = 1
    AND s.IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SoftDeleteStudent]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoftDeleteStudent]
(
    @RollNumber CHAR(5)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Students
    SET IsActive = 0
    WHERE RollNumber = @RollNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudentRecord]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateStudentRecord]
(
    @RollNumber CHAR(5),
    @Maths TINYINT,
    @Physics TINYINT,
    @Chemistry TINYINT,
    @English TINYINT,
    @Programming TINYINT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE sr
    SET 
        sr.Maths = @Maths,
        sr.Physics = @Physics,
        sr.Chemistry = @Chemistry,
        sr.English = @English,
        sr.Programming = @Programming,
        sr.LastUpdated = SYSDATETIME()
    FROM StudentRecords sr
    INNER JOIN Students s 
        ON sr.StudentId = s.StudentId
    WHERE s.RollNumber = @RollNumber
    AND s.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ViewAllStudents]    Script Date: 20-02-2026 4.52.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ViewAllStudents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.FullName,
        s.RollNumber,
        sr.Maths,
        sr.Physics,
        sr.Chemistry,
        sr.English,
        sr.Programming
    FROM Students s
    INNER JOIN StudentRecords sr
        ON s.StudentId = sr.StudentId
    WHERE s.IsActive = 1
    ORDER BY s.RollNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ViewStudentRecord]    Script Date: 20-02-2026 4.52.58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ViewStudentRecord]
(
    @RollNumber CHAR(5)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.FullName,
        s.RollNumber,
        sr.Maths,
        sr.Physics,
        sr.Chemistry,
        sr.English,
        sr.Programming,
        sr.LastUpdated
    FROM Students s
    INNER JOIN StudentRecords sr
        ON s.StudentId = sr.StudentId
    WHERE s.RollNumber = @RollNumber
    AND s.IsActive = 1;
END
GO
USE [master]
GO
